@charset "UTF-8";

/*요소가 시작될 때 적용할 애니메이션*/
@keyframes fadeIn{
	from {opacity:0;}
	to {opacity:0.4;}
	}	
@keyframes fadeOut{
	from {opacity:1;}
	to {opacity:0.4;}
	}	

@-webkit-keyframes fadeIn{
	from {opacity:0;}
	to {opacity:0.4;}
	}	
@-webkit-keyframes fadeOut{
	from {opacity:1;}
	to {opacity:0.4;}
	}