@charset "UTF-8";

body {
	background-color:#ADD8E6;
}
*{
	font-family: 'Do Hyeon', sans-serif;
	
}
#start-page {
	margin: 0 auto;
	margin-top:10px;
	text-align: center;
	width: 60%;
	height: 760px;
	border :3px solid black;
	width: 800px;
}
.h1-part{
	height: 60px;
}
.h1{
	margin-top:10px;
	padding-top:5px;
	font-size: 50px;
	font-weight: bold;
}
.h3{
	font-size: 25px;
}
.start-img{
	margin:0 auto;
	height: 400px;
	width: 820px;
}
img{
	height: 400px;
	width: 600px;
}
.count{
	margin-top: 20px;
	font-size: 20px;
}
.start-btn{
	margin-top: 27px;
}
#startBtn{
	text-align: center;
	height: 80px;
	width: 600px;
	font-size: 45px;
	background-color: black;
	color: #F0F8FF;
	border: none;
	cursor: pointer;
}
#result-page{
	display: none;
	text-align: center;
}

.viewResult{
	margin:0 auto;
	height: 200px;
}    
input.view-btn{
	margin-top:300px;
	height: 100px;
	width: 400px;
	font-size: 40px;
	background-color: black;
	color: #F8F8FF;
	border: none;
	cursor: pointer;
} 
.result-h1{
	height: 60px;
	margin-top: 10px;
	
}
.p-h1{
	font-size: 50px;
	font-weight: bold;
}
.resultCountry{
	font-size: 35px;
}
#resultImg{
	padding: 30px;
}
.resultDes{
	padding: 20px;
	font-size: 20px;
}
.border-line{
	margin: 0 auto;
	width: 60%;
	border:2px solid black;
}
