#main-page {
	display: none;
	text-align: center;
}
.q-num{
	font-size: 50px;
}
.progress-txt{
	font-size: 30px;
}
.q1{
	font-size: 30px;
}
.q1-btn{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: black;
	color: #F0F8FF;
	border: none;
}
.q1-btn:hover{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: #A9A9A9;
	color: black;
	border: none;
	cursor:pointer;
	transition:background 0.3s ease-in-out;
	
}
#main-page2{
	display: none;
	text-align: center;
}

#result-page {
	display: none;
}
