#main-page {
	display: none;
	text-align: center;
}
.q-num{
	font-size: 50px;
}
.progress-txt{
	font-size: 30px;
}
.q1{
	font-size: 30px;
}
.q1-btn{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: black;
	color: #F8F8FF;
	border: none;
}
.q1-btn:hover{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: #A9A9A9;
	color: black;
	border: none;
	cursor:pointer;
	transition:background 0.3s ease-in-out;
}
#main-page2{
	display: none;
	text-align: center;
}
.q2-btn{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: black;
	color: #F8F8FF;
	border: none;
}
.q2-btn:hover{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: #A9A9A9;
	color: black;
	border: none;
	cursor:pointer;
	transition:background 0.3s ease-in-out;
}
#main-page3{
	display: none;
	text-align: center;
}
.q3-btn{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: black;
	color: #F8F8FF;
	border: none;
}
.q3-btn:hover{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: #A9A9A9;
	color: black;
	border: none;
	cursor:pointer;
	transition:background 0.3s ease-in-out;
}
#main-page4{
	display: none;
	text-align: center;
}
.q4-btn{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: black;
	color: #F8F8FF;
	border: none;
}
.q4-btn:hover{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: #A9A9A9;
	color: black;
	border: none;
	cursor:pointer;
	transition:background 0.3s ease-in-out;
}
#main-page5{
	display: none;
	text-align: center;
}
.q5-btn{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: black;
	color: #F8F8FF;
	border: none;
}
.q5-btn:hover{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: #A9A9A9;
	color: black;
	border: none;
	cursor:pointer;
	transition:background 0.3s ease-in-out;
}
#main-page6{
	display: none;
	text-align: center;
}
.q6-btn{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: black;
	color: #F8F8FF;
	border: none;
}
.q6-btn:hover{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: #A9A9A9;
	color: black;
	border: none;
	cursor:pointer;
	transition:background 0.3s ease-in-out;
}
#result-page {
	display: none;
}
