#main-page {
	display: none;
	text-align: center;
}
.pageBox{
	margin: 0 auto;
	text-align: center;
	border :2px solid black;
	width: 600px;
	height: 720px;
}

.q-num{
	font-size: 50px;
}
.progress-txt{
	font-size: 30px;
}
.question-box{
	font-size: 30px;
}
.answer-box button{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: black;
	color: #F8F8FF;
	border: none;
}
.answer-box button:hover{
	margin-top:10px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	background-color: #A9A9A9;
	color: black;
	border: none;
	cursor:pointer;
	transition:background 0.3s ease-in-out;
}

#result-page {
	display: none;
}
